{% extends 'base.html' %}

{% block title %}Fanarts | Glitch Productions{% endblock %}

{% block content %}
<section class="contenido">
    <h1>Comunidad de Fanarts</h1>
    <p>
        Una galería dedicada exclusivamente a las increíbles ilustraciones realizadas por la talentosa comunidad de Glitch.
    </p>

    <div class="cards">
        <div class="card">
            <img src="https://external.ffdo24-3.fna.fbcdn.net/emg1/v/t13/904209681835375372?url=https%3A%2F%2Fi.pinimg.com%2F736x%2F31%2F61%2F30%2F316130536baaa54ff1c5c2ca0ddadb01.jpg&fb_obo=1&utld=pinimg.com&stp=c0.5000x0.5000f_dst-emg0_p720x376_q75_tt6&_nc_gid=6g3XVwCUNH94WAhRa1TYdQ&_nc_oc=AdohZH9Jb9GMIdD4roc9l9TmuTMP9AFDPW65lE84hOCa-BffD_ilGoy8D7br35R9Ors&ccb=13-1&oh=06_Q3_BAc3x8lxJPs4jUvhTB8JjOE3leWwClZgqjDMsonWRLr7w&oe=6A5C6B4F&_nc_sid=c24604" alt="Fanart The Amazing Digital Circus">
            <h3>Personajes de series de glitch</h3>
            <p>Artista: Comunidad-@hare_001</p>
        </div>

        <div class="card">
            <img src="https://external.ffdo24-3.fna.fbcdn.net/emg1/v/t13/5703588501802928509?url=https%3A%2F%2Fi.pinimg.com%2F736x%2Fde%2Faa%2F14%2Fdeaa143486f9b7b340956a379e8fa36b.jpg&fb_obo=1&utld=pinimg.com&stp=c0.5000x0.5000f_dst-emg0_p720x376_q75_tt6&_nc_gid=6g3XVwCUNH94WAhRa1TYdQ&_nc_oc=Adokrt30F8M4wLpYKUPP427HGBjYFQ7jQcdarkAfH7Oo1GTMV0fBlPaYkEXVfLvMso8&ccb=13-1&oh=06_Q3_BASmYdaJpzDoTgEgEwp10GHXAKfWFJH3y8o4EwvsNSOGf&oe=6A5C5850&_nc_sid=c24604" alt="Fanart Murder Drones">
            <h3>Murder Drones and Digital Circus</h3>
            <p>Artista: Comunidad-@Uzi_Doorman_4</p>
        </div>

        <div class="card">
            <img src="https://external.ffdo24-3.fna.fbcdn.net/emg1/v/t13/5657187253915980540?url=https%3A%2F%2Fencrypted-tbn0.gstatic.com%2Fimages%3Fq%3Dtbn%3AANd9GcQxesi14Fd7Zrbb2PtxNuO3rzTYbQgNGk4-nZW7y2zhWw%26s%3D10&fb_obo=1&utld=gstatic.com&stp=c0.5000x0.5000f_dst-emg0_p640x334_q75_tt6&_nc_gid=6g3XVwCUNH94WAhRa1TYdQ&_nc_oc=Adq9Ejs9k_9TfukXfHMQBQiw7bXiQZ7cESGnqdPbxlIRpCK1Vf5yACkit41NjAfevAg&ccb=13-1&oh=06_Q3_BAUJZHiF0ybG-6Idn34o5mEcbp1Xc0QPXFYxARZ5XgMrh&oe=6A5C60BF&_nc_sid=c24604" alt="Fanart Meta Runner">
            <h3>Personajes de glitch</h3>
            <p>Artista: Comunidad-@blueberry_peri</p>
        </div>
    </div>
</section>
{% endblock %}