<!DOCTYPE html>

<html lang="es">

<head>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Juegos | Glitch Productions</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<header>

<a href="/">

<img src="{{ url_for('static', filename='img/logo/logo.png') }}">

</a>

<nav>

<a href="/pages/glitch">Glitch</a>

<a href="/pages/series">Series</a>

<a href="/pages/tienda">Tienda</a>

<a href="/pages/anuncios">Anuncios</a>

</nav>

</header>

<section class="contenido">

<h1>Juegos</h1>

<p>

Videojuegos relacionados con Glitch Productions y sus series.

</p>

<div class="cards">

<div class="card">

<h3>(Juego)</h3>

<p>(Descripción)</p>

</div>

<div class="card">

<h3>(Juego)</h3>

<p>(Descripción)</p>

</div>

<div class="card">

<h3>(Juego)</h3>

<p>(Descripción)</p>

</div>

</div>

</section>

<footer>

<p>Proyecto realizado por Moon y Yammy ©2026</p>

</footer>

</body>

</html>