{% extends 'base.html' %}

{% block title %}Juegos | Glitch Productions{% endblock %}

{% block content %}
<section class="contenido">
    <h1>Videojuegos</h1>
    <p>
        Descubre los títulos interactivos, experiencias y fan-games inspirados en los increíbles universos de Glitch Productions. ¡Toma el control!
    </p>

    <div class="cards" style="margin-top: 40px;">
        
        <div class="card">
            <img src="https://her-trees.com/thumb/the-amazing-digital-dating-simulator.webp" alt="Digital Circus Game">
            <h3>The Amazing Digital Circus Dating Simulator</h3>
            <p>Juego hecho por fans para simular citas con los personas de digital circus y se puede descargar por itchi.io.</p>
            <div style="padding: 0 20px 20px; text-align: center;">
                <a href="#" class="button" style="padding: 10px 20px; font-size: 12px;">Jugar Ahora</a>
            </div>
        </div>

        <div class="card">
            <img src="https://external.ffdo24-3.fna.fbcdn.net/emg1/v/t13/7727695602125983983?url=https%3A%2F%2Fencrypted-tbn0.gstatic.com%2Fimages%3Fq%3Dtbn%3AANd9GcSu2qy0s1SLm2tUtmsuXjMBpGhyWrq1s3o3i4c2P0uRhc5i-5CLsU3BQCI%26s%3D10&fb_obo=1&utld=gstatic.com&stp=c0.5000x0.5000f_dst-emg0_p595x310_q75_tt6&_nc_gid=6g3XVwCUNH94WAhRa1TYdQ&_nc_oc=AdqDbv8hweV0HfEsQLSarxdebOcHoiPLYiEapARw8T3CRRM_rUOQdgyNv4g-YWmFf4g&ccb=13-1&oh=06_Q3_BAZ0oFl79C3GAqhKECrB1k6DbfyG7fv8tnLnmNuiOuJf0&oe=6A5C5F47&_nc_sid=c24604" alt="Murder Drones Game">
            <h3>Dating Drones</h3>
            <p>Juego hecho por fans para simular citas con los personas de Murder Drones y se puede descargar por itchi.io.</p>
            <div style="padding: 0 20px 20px; text-align: center;">
                <a href="#" class="button" style="padding: 10px 20px; font-size: 12px;">Más Info</a>
            </div>
        </div>

        <div class="card">
            <img src="https://external.ffdo24-3.fna.fbcdn.net/emg1/v/t13/3915332768936251324?url=https%3A%2F%2Fencrypted-tbn0.gstatic.com%2Fimages%3Fq%3Dtbn%3AANd9GcS7NSvK0mrfP-KzuMtZPOwiFx-pwK1kNjOILyUmCboql1ffJhqB-9AoWwM%26s%3D10&fb_obo=1&utld=gstatic.com&stp=c0.5000x0.5000f_dst-emg0_p636x332_q75_tt6&_nc_gid=6g3XVwCUNH94WAhRa1TYdQ&_nc_oc=AdpLArFMcCGITOc_tt7A8eqDNZwR_fGPQrLiWjTJJRRk2dOWQAPvdSWzcX1cdBkT-d0&ccb=13-1&oh=06_Q3_BATCDKy1EiUNrmjp3EaMkSMdXUc5uYcHtPShpGQqaPEx0&oe=6A5C52FB&_nc_sid=c24604" alt="Meta Runner Game">
            <h3>Glitch Karts</h3>
            <p>Glitch lanzó un juego corto de carreras de karts para un concurso, y los modelos de los personajes y sus karts se pusieron a disposición para descargar en Steam.</p>
            <div style="padding: 0 20px 20px; text-align: center;">
                <a href="#" class="button" style="padding: 10px 20px; font-size: 12px;">Descargar</a>
            </div>
        </div>

    </div>
</section>
{% endblock %}