{% extends 'base.html' %}

{% block title %}Series | Glitch Productions{% endblock %}

{% block content %}
<section class="contenido">
    <h1>Series</h1>
    <p>
        Selecciona una serie para conocer más información.
    </p>

    <div class="cards">
        <a href="{{ url_for('tadc') }}" class="card">
            <img src="{{ url_for('static', filename='img/series/tadc/cover.png') }}" alt="The Amazing Digital Circus">
            <h3>The Amazing Digital Circus</h3>
        </a>

        <a href="{{ url_for('md') }}" class="card">
            <img src="{{ url_for('static', filename='img/series/murder_drones/cover.png') }}" alt="Murder Drones">
            <h3>Murder Drones</h3>
        </a>

        <a href="{{ url_for('knights_of_guinevere') }}" class="card">
            <img src="{{ url_for('static', filename='img/series/knights_of_guinevere/cover.png') }}" alt="Knights of Guinevere">
            <h3>Knights of Guinevere</h3>
        </a>
    </div>

    <br><br>
    <h2>Otras Series y Próximamente</h2>
    
    <div class="cards">
        <div class="card">
            <img src="{{ url_for('static', filename='img/series/meta_runner/cover.png') }}" alt="Meta Runner">
            <h3>Meta Runner</h3>
            <p>Próximamente información.</p>
        </div>

        <div class="card">
            <img src="{{ url_for('static', filename='img/series/sunset_paradise/cover.png') }}" alt="Sunset Paradise">
            <h3>Sunset Paradise</h3>
            <p>Próximamente información.</p>
        </div>

        <div class="card">
            <img src="{{ url_for('static', filename='img/series/the_gaslight_district/cover.png') }}" alt="The Gaslight District">
            <h3>The Gaslight District</h3>
            <p>Próximamente información.</p>
        </div>

        <div class="card">
            <img src="{{ url_for('static', filename='img/series/lackadaisy/cover.png') }}" alt="Lackadaisy">
            <h3>Lackadaisy</h3>
            <p>Próximamente información.</p>
        </div>

        <div class="card">
            <img src="{{ url_for('static', filename='img/series/gameoverse/cover.png') }}" alt="Gameoverse">
            <h3>GameOverse</h3>
            <p>Próximamente información.</p>
        </div>
    </div>
</section>
{% endblock %}