{% extends 'base.html' %}

{% block title %}Series | Glitch Productions{% endblock %}

{% block content %}
<section class="contenido">
    <h1>Series</h1>
    <p>
        Selecciona una serie para conocer más información.
    </p>

    <div class="cards">
        <a href="{{ url_for('tadc') }}" class="card">
            <img src="https://preview.redd.it/the-last-game-you-played-get-a-crossover-with-tdac-ill-start-v0-kid2lc2xa8fe1.png?width=640&crop=smart&auto=webp&s=3c84438090d914ad200964753276f262fb390e01" alt="The Amazing Digital Circus">
            <h3>The Amazing Digital Circus</h3>
        </a>

        <a href="{{ url_for('md') }}" class="card">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTmSySkUSQZ_JOmCgC5OjQF3l0lfOK2H6rb4eu5z8qBxQ&s=10" alt="Murder Drones">
            <h3>Murder Drones</h3>
        </a>

        <a href="{{ url_for('knights_of_guinevere') }}" class="card">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSodAo018G-xrlv97c8_Y1txMZlpt_SMTUoCdtva4OtNA&s=10" alt="Knights of Guinevere">
            <h3>Knights of Guinevere</h3>
        </a>
    </div>

    <br><br>
    <h2>Otras Series y Próximamente</h2>
    
    <div class="cards">
        <div class="card">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTwe2hrgTx9q6-Mv47MXIBPip3yGRmv7yrICSo5oHxlxA&s=10" alt="Meta Runner">
            <h3>Meta Runner</h3>
            <p>Próximamente información.</p>
        </div>

        <div class="card">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTwe2hrgTx9q6-Mv47MXIBPip3yGRmv7yrICSo5oHxlxA&s=10" alt="Sunset Paradise">
            <h3>Sunset Paradise</h3>
            <p>Próximamente información.</p>
        </div>

        <div class="card">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTwe2hrgTx9q6-Mv47MXIBPip3yGRmv7yrICSo5oHxlxA&s=10" alt="The Gaslight District">
            <h3>The Gaslight District</h3>
            <p>Próximamente información.</p>
        </div>

        <div class="card">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTwe2hrgTx9q6-Mv47MXIBPip3yGRmv7yrICSo5oHxlxA&s=10" alt="Lackadaisy">
            <h3>Lackadaisy</h3>
            <p>Próximamente información.</p>
        </div>

        <div class="card">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTwe2hrgTx9q6-Mv47MXIBPip3yGRmv7yrICSo5oHxlxA&s=10" alt="Gameoverse">
            <h3>GameOverse</h3>
            <p>Próximamente información.</p>
        </div>
    </div>
</section>
{% endblock %}