<!DOCTYPE html>

<html lang="es">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Curiosidades | The Amazing Digital Circus</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

    <header class="header">

        <a href="/">

            <img
                src="https://static.wikia.nocookie.net/logopedia/images/3/3f/The_Amazing_Digital_Circus_logo.png/revision/latest?cb=20240419164235">
            <!-- Reemplazar por el logo -->

        </a>

        <nav>

            <a href="/pages/glitch">Glitch</a>

            <a href="/pages/series">Series</a>

            <a href="/pages/tienda">Tienda</a>

            <a href="/pages/anuncios">Anuncios</a>

            <a href="/pages/juegos">Juegos</a>

            <a href="/pages/fanarts">Fanarts</a>

            <a href="/pages/redes">Redes</a>

        </nav>

    </header>

    <section class="banner">

        <img
            src="https://images.squarespace-cdn.com/content/v1/5fbc4a62c2150e62cfcb09aa/e083e388-dff1-45ef-9900-656143f8ec4c/digital-circus-wide.jpg">
        <!-- Reemplazar por el banner -->

    </section>

    <section class="submenu-serie">

        <a href="/series/tadc">

            Inicio

        </a>

        <a href="/series/tadc/curiosidades" class="activo">

            Curiosidades

        </a>

    </section>

    <section class="contenido">

        <h1>Curiosidades</h1>

        <div class="card">

            <h2>Curiosidad</h2>

            <p>La inspiración visual: El diseño de Ragatha rinde homenaje a la clásica muñeca de trapo Raggedy Ann,
                mientras que la dinámica entre Jax y Pomni toma referencias del videojuego noventero Gobliiins
                Las edades de los personajes: Aunque son prisioneros virtuales, tienen edades específicas en sus
                historias: Pomni tiene 25 años, Ragatha 30, Kinger 48 y Jax 22.
                Referencias de culto: La famosa escena de la cena al final del piloto es una clara recreación de La
                última cena de Leonardo da Vinci, y las temáticas de los episodios suelen parodiar clásicos como Charlie
                y la fábrica de chocolate.

                (Escribir curiosidad)

            </p>

        </div>

        <hr>

        <div class="card">

            <h2>Dato curioso</h2>

            <p>

                Circus Circus fue propiedad originalmente de Jay Sarno y Stanley Mallin . Abrió sus puertas sin hotel el
                18 de octubre de 1968. Contaba con un casino en la planta baja, mientras que la segunda planta albergaba
                juegos de feria para niños. Circus Circus fue uno de los primeros casinos orientados a la familia en Las
                Vegas.
            </p>

        </div>

        <hr>

        <div class="card">

            <h2>Referencia</h2>

            <p>
                -"No tengo boca y debo gritar" (1967): Es la inspiración principal de la serie. La
                historia trata sobre una inteligencia artificial maligna que tortura a los últimos humanos
                sobrevivientes. El personaje de Caine funciona de manera similar a la IA (AM) del relato, controlando y
                atormentando a los protagonistas atrapados.
                -El Vacío: Las zonas sin renderizar en el circo recuerdan al
                "Vacío" de El asombroso mundo de Gumball, el lugar donde van a parar los errores y los fallos del
                mundo.
                -The Stanley Parable: El momento en que Pomny abre la puerta de salida y se
                pierde en un laberinto de oficinas enloquecedor es un homenaje directo a este famoso videojuego.Super
                Mario
                -Existen varias referencias visuales, como el diseño del techo del circo (similar al castillo
                de la Princesa Peach) y el vómito oscuro de Pomny, animado igual que Metal Mario en dicho juego.
                -El diseño y la personalidad empática y optimista de
                Ragatha están directamente inspirados en esta famosa película musical animada de 1977.
                -Toy Story 2: Las
                escenas de pesadilla de algunos personajes, donde sus piezas intercambiables se desmoronan o son
                arrastradas a la oscuridad, recuerdan a la famosa pesadilla de Woody.
                -Más allá de las
                referencias visuales, la serie utiliza la estética caótica y el humor absurdo para explorar temas
                psicológicos profundos, como la identidad, el libre albedrío, la ansiedad y la alienación en la era
                digital.

            </p>

        </div>

        <hr>

        <div class="card">

            <h2>Detrás de escena</h2>

            <p>

                The Amazing Digital Circus revela un proceso de producción fascinante llevado a cabo por Glitch
                Productions y la creadora Gooseworx, donde se priorizó un estilo visual retro que evoca a los años 90 y
                un diseño de sonido intencionalmente incómodo.

            </p>

        </div>

        <hr>

        <div class="card">

            <h2>Enseñanza</h2>

            <p>

                The Amazing Digital Circus enseña sobre los peligros del escapismo y la importancia de aceptar la
                realidad. A través de las vivencias de Pomni y el resto del elenco, la serie muestra que evadir el dolor
                y los traumas refugiándose en mundos de fantasía es una trampa que no resuelve los problemas.
            </p>

        </div>

    </section>

    <footer>

        <p>

            Proyecto realizado por Moon y Yammy ©2026

        </p>

    </footer>

</body>

</html>