<!DOCTYPE html>

<html lang="es">

<head>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Música | The Amazing Digital Circus</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<header class="header">

<a href="/">

<img src="{{ url_for('static', filename='img/logo/logo.png') }}">
<!-- Reemplazar por el logo -->

</a>

<nav>

<a href="/pages/glitch">Glitch</a>

<a href="/pages/series">Series</a>

<a href="/pages/tienda">Tienda</a>

<a href="/pages/anuncios">Anuncios</a>

<a href="/pages/juegos">Juegos</a>

<a href="/pages/fanarts">Fanarts</a>

<a href="/pages/redes">Redes</a>

</nav>

</header>

<section class="banner">

<img src="{{ url_for('static', filename='img/series/tadc/banner.jpg') }}">
<!-- Reemplazar por el banner -->

</section>

<section class="submenu-serie">

<a href="/series/tadc">

Inicio

</a>

<a href="/series/tadc/musica" class="activo">

Música

</a>

</section>

<section class="contenido">

<h1>Música</h1>

<div class="card">

<h2>Banda sonora</h2>

<p>

Compositor:

(Nombre)

</p>

<p>

Información:

(Escribir información sobre el compositor y la banda sonora)

</p>

<p>

Escuchar:

<a href="#">

(Agregar enlace oficial)

</a>

</p>

</div>

<hr>

<div class="card">

<h2>Canciones</h2>

<p>

Título:

(Nombre)

</p>

<p>

Compositor:

(Nombre)

</p>

<p>

Información:

(Escribir información)

</p>

<p>

Escuchar:

<a href="#">

(Agregar enlace oficial)

</a>

</p>

</div>

<hr>

<div class="card">

<h2>Álbumes</h2>

<p>

Nombre:

(Nombre)

</p>

<p>

Lanzamiento:

(Fecha)

</p>

<p>

Escuchar:

<a href="#">

(Agregar enlace oficial)

</a>

</p>

</div>

</section>

<footer>

<p>

Proyecto realizado por Moon y Yammy ©2026

</p>

</footer>

</body>

</html>