<!DOCTYPE html>

<html lang="es">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Música | The Amazing Digital Circus</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

    <header class="header">

        <a href="/">

            <img
                src="https://static.wikia.nocookie.net/logopedia/images/3/3f/The_Amazing_Digital_Circus_logo.png/revision/latest?cb=20240419164235">
            <!-- Reemplazar por el logo -->

        </a>

        <nav>

            <a href="/pages/glitch">Glitch</a>

            <a href="/pages/series">Series</a>

            <a href="/pages/tienda">Tienda</a>

            <a href="/pages/anuncios">Anuncios</a>

            <a href="/pages/juegos">Juegos</a>

            <a href="/pages/fanarts">Fanarts</a>

            <a href="/pages/redes">Redes</a>

        </nav>

    </header>

    <section class="banner">

        <img
            src="https://images.squarespace-cdn.com/content/v1/5fbc4a62c2150e62cfcb09aa/1730571330813-EQKDQCVR00ON15TI212W/adc.jpg">
        <!-- Reemplazar por el banner -->

    </section>

    <section class="submenu-serie">

        <a href="/series/tadc">

            Inicio

        </a>

        <a href="/series/tadc/musica" class="activo">

            Música

        </a>

    </section>

    <section class="contenido">

        <h1>Música</h1>

        <div class="card">

            <h2>Banda sonora</h2>

            <p>

                Compositor:Gooseworx y Evan
                Alderete

                (Nombre)

            </p>

            <p>

                Información:

                Los compositores principales de la banda sonora de The Amazing Digital Circus (El asombroso circo
                digital)
                 son:Gooseworx (Cooper Smith Goodwin): Creadora, escritora y directora de la serie. También es
                la compositora principal y creadora del tema principal, «The Amazing Digital Circus Main Theme».
                Evan
                Alderete: Compositor, orquestador y arreglista de la serie. Trabaja enriqueciendo los bocetos y temas
                musicales básicos creados por Gooseworx para transformarlos en las complejas canciones de los episodios.

            </p>

            <p>

                Escuchar:

                <a href="https://open.spotify.com/intl-es/album/2SgquMN2FvtGFR5b1Pf4Zy">

                    (Agregar enlace oficial)

                </a>

            </p>

        </div>

        <hr>

        <div class="card">

            <h2>Canciones</h2>

            <p>

                Título:Theme from The Amazing Digital Circus

                (Nombre)

            </p>

            <p>

                Compositor:Gooseworx y Evan
                Alderete

                (Nombre)

            </p>

            <p>

                Información: main song

                (Escribir información)

            </p>

            <p>

                Escuchar:spotify o youtube

                <a href="https://open.spotify.com/intl-es/track/7IbCeDB7Jn8PWHSTAXIiBq?si=5752a527ef504e3d">

                    (Agregar enlace oficial)

                </a>

            </p>

        </div>

        <hr>

        <div class="card">

            <h2>Álbumes</h2>

            <p>

                Nombre:
The Amazing Digital Circus (Original Pilot Soundtrack)

                (Nombre)

            </p>

            <p>

                Lanzamiento:2023

                (Fecha)

            </p>

            <p>

                Escuchar: youtube o spotify

                <a href="https://open.spotify.com/intl-es/album/2SgquMN2FvtGFR5b1Pf4Zy?si=wEqo1PXrRmawtUDp7j7hbg">

                    (Agregar enlace oficial)

                </a>

            </p>

        </div>

    </section>

    <footer>

        <p>

            Proyecto realizado por Moon y Yammy ©2026

        </p>

    </footer>

</body>

</html>