<!DOCTYPE html>

<html lang="es">

<head>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Capítulos | Murder Drones</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<header>

<a href="/">
<img src="{{ url_for('static', filename='img/logo/logo.png') }}">
</a>

<nav>

<a href="/pages/glitch">Glitch</a>

<a href="/pages/series">Series</a>

<a href="/pages/tienda">Tienda</a>

<a href="/pages/anuncios">Anuncios</a>

</nav>

</header>

<section class="banner">

<img src="{{ url_for('static', filename='img/series/md/banner.jpg') }}">

</section>

<section class="submenu-serie">

<a href="/series/md">Inicio</a>

<a href="/series/md/informacion">Información</a>

<a href="/series/md/capitulos" class="activo">Capítulos</a>

<a href="/series/md/personajes">Personajes</a>

<a href="/series/md/participantes">Participantes</a>

<a href="/series/md/musica">Música</a>

<a href="/series/md/curiosidades">Curiosidades</a>

<a href="/series/md/redes">Redes</a>

</section>

<section class="contenido">

<h1>Capítulos</h1>

<div class="cards">

<a href="#">
<div class="card">
<img src="{{ url_for('static', filename='img/series/md/episodes/ep1.jpg') }}">
<h3>Episodio 1</h3>
<p>(Título)</p>
</div>
</a>

<a href="#">
<div class="card">
<img src="{{ url_for('static', filename='img/series/md/episodes/ep2.jpg') }}">
<h3>Episodio 2</h3>
<p>(Título)</p>
</div>
</a>

<a href="#">
<div class="card">
<img src="{{ url_for('static', filename='img/series/md/episodes/ep3.jpg') }}">
<h3>Episodio 3</h3>
<p>(Título)</p>
</div>
</a>

<a href="#">
<div class="card">
<img src="{{ url_for('static', filename='img/series/md/episodes/ep4.jpg') }}">
<h3>Episodio 4</h3>
<p>(Título)</p>
</div>
</a>

<a href="#">
<div class="card">
<img src="{{ url_for('static', filename='img/series/md/episodes/ep5.jpg') }}">
<h3>Episodio 5</h3>
<p>(Título)</p>
</div>
</a>

<a href="#">
<div class="card">
<img src="{{ url_for('static', filename='img/series/md/episodes/ep6.jpg') }}">
<h3>Episodio 6</h3>
<p>(Título)</p>
</div>
</a>

<a href="#">
<div class="card">
<img src="{{ url_for('static', filename='img/series/md/episodes/ep7.jpg') }}">
<h3>Episodio 7</h3>
<p>(Título)</p>
</div>
</a>

<a href="#">
<div class="card">
<img src="{{ url_for('static', filename='img/series/md/episodes/final.jpg') }}">
<h3>Final</h3>
<p>(Título)</p>
</div>
</a>

</div>

</section>

<footer>

<p>Proyecto realizado por Moon y Yammy ©2026</p>

</footer>

</body>

</html>