<!DOCTYPE html>

<html lang="es">

<head>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Murder Drones</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<header>

<a href="/">

<img src="{{ url_for('static', filename='img/logo/logo.png') }}">
<!-- Reemplazar por el logo -->

</a>

<nav>

<a href="/pages/glitch">Glitch</a>

<a href="/pages/series">Series</a>

<a href="/pages/tienda">Tienda</a>

<a href="/pages/anuncios">Anuncios</a>

</nav>

</header>

<section class="banner">

<img src="{{ url_for('static', filename='img/series/md/banner.jpg') }}">
<!-- Reemplazar por el banner -->

</section>

<section class="titulo">

<h1>Murder Drones</h1>

<p>

Explora todo el contenido relacionado con la serie.

</p>

</section>

<section class="menu-serie">

<a href="/series/md/informacion">

Información

</a>

<a href="/series/md/capitulos">

Capítulos

</a>

<a href="/series/md/personajes">

Personajes

</a>

<a href="/series/md/participantes">

Participantes

</a>

<a href="/series/md/musica">

Música

</a>

<a href="/series/md/curiosidades">

Curiosidades

</a>

<a href="/series/md/redes">

Redes oficiales

</a>

</section>

<footer>

<p>

Proyecto realizado por Moon y Yammy ©2026

</p>

</footer>

</body>

</html>