<!DOCTYPE html>

<html lang="es">

<head>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Información | Murder Drones</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<header>

<a href="/">

<img src="{{ url_for('static', filename='img/logo/logo.png') }}">

</a>

<nav>

<a href="/pages/glitch">Glitch</a>

<a href="/pages/series">Series</a>

<a href="/pages/tienda">Tienda</a>

<a href="/pages/anuncios">Anuncios</a>

</nav>

</header>

<section class="banner">

<img src="{{ url_for('static', filename='img/series/md/banner.jpg') }}">

</section>

<section class="submenu-serie">

<a href="/series/md">Inicio</a>

<a href="/series/md/informacion" class="activo">Información</a>

<a href="/series/md/capitulos">Capítulos</a>

<a href="/series/md/personajes">Personajes</a>

<a href="/series/md/participantes">Participantes</a>

<a href="/series/md/musica">Música</a>

<a href="/series/md/curiosidades">Curiosidades</a>

<a href="/series/md/redes">Redes</a>

</section>

<section class="contenido">

<h1>Información</h1>

<img src="{{ url_for('static', filename='img/series/md/poster.png') }}">
<!-- Reemplazar por el póster -->

<h2>Sinopsis</h2>

<p>

(Escribir la sinopsis)

</p>

<h2>Información general</h2>

<table>

<tr>

<th>Título</th>

<td>Murder Drones</td>

</tr>

<tr>

<th>Creadores</th>

<td>

<a href="/people/liam_vickers">

Liam Vickers

</a>

</td>

</tr>

<tr>

<th>Productores</th>

<td>

<a href="/people/kevin_lerdwichagul">

Kevin Lerdwichagul

</a>

<br>

<a href="/people/luke_lerdwichagul">

Luke Lerdwichagul

</a>

</td>

</tr>

<tr>

<th>Estreno</th>

<td>

(Completar)

</td>

</tr>

<tr>

<th>Estado</th>

<td>

Finalizada

</td>

</tr>

<tr>

<th>Géneros</th>

<td>

(Completar)

</td>

</tr>

<tr>

<th>Idioma original</th>

<td>

Inglés

</td>

</tr>

</table>

</section>

<footer>

<p>

Proyecto realizado por Moon y Yammy ©2026

</p>

</footer>

</body>

</html>