{% extends 'base.html' %}

{% block title %}El Universo de Glitch - Inicio{% endblock %}

{% block content %}
<section class="hero">
    <img src="{{ url_for('static', filename='img/banners/home_banner.jpg') }}" alt="Banner Principal">
    <div class="hero-text">
        <h1>THE UNIVERSE OF GLITCH</h1>
        <p>
            Todo sobre Glitch Productions, sus series, personajes y comunidad.
        </p>
        <a href="{{ url_for('series') }}" class="button">
            EXPLORAR SERIES
        </a>
    </div>
</section>

<section class="featured">
    <h2>SERIES DESTACADAS</h2>
    <div class="cards">
        <a href="{{ url_for('tadc') }}" class="card">
            <img src="https://preview.redd.it/the-last-game-you-played-get-a-crossover-with-tdac-ill-start-v0-kid2lc2xa8fe1.png?width=640&crop=smart&auto=webp&s=3c84438090d914ad200964753276f262fb390e01" alt="The Amazing Digital Circus">
            <h3>The Amazing Digital Circus</h3>
        </a>

        <a href="{{ url_for('md') }}" class="card">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTmSySkUSQZ_JOmCgC5OjQF3l0lfOK2H6rb4eu5z8qBxQ&s=10" alt="Murder Drones">
            <h3>Murder Drones</h3>
        </a>

        <a href="{{ url_for('knights_of_guinevere') }}" class="card">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSodAo018G-xrlv97c8_Y1txMZlpt_SMTUoCdtva4OtNA&s=10" alt="Knights of Guinevere">
            <h3>Knights of Guinevere</h3>
        </a>

        <a href="{{ url_for('index') }}" class="card">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTEwRk6f_uoIEOaw9VqhLup8_-g5tH6M7t05ihOdfnE-w&s=10" alt="Sunset Paradise">
            <h3>Sunset Paradise</h3>
        </a>
    </div>
</section>

<section class="news">
    <h2>ÚLTIMAS NOVEDADES</h2>
    <div class="news-container">
        <div class="news-card">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTGoBZaLs-xYK4dYJYRbU-6kPVYy_P46718nyPOR2KDWw&s=10">
            <h3>¡The Amazing Digital Circus sigue rompiendo récords!</h3>
            <p>
                El fenómeno global continúa sumando millones de vistas. Entérate de todos los detalles sobre los nuevos episodios.
            </p>
            <a href="{{ url_for('anuncios') }}">Leer Más</a>
        </div>
        <div class="news-card">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcStDUwXvlBZTx5iVdYPc0TrH5AgqRpmH1jwF5wZm-jQULj2VOZqq_ZQ1KQ&s=10">
            <h3>El espectacular desenlace de Murder Drones</h3>
            <p>
                La épica travesía de Uzi y N llegó a su fin. Mira el detrás de escenas oficial que ya está disponible.
            </p>
            <a href="{{ url_for('anuncios') }}">Leer Más</a>
        </div>
    </div>
</section>

<section class="store">
    <h2>TIENDA OFICIAL</h2>
    <div class="store-box">
        <img src="https://glitchproductions.store/cdn/shop/files/WebsiteBanner_MerchAllTogether_1by1.png?v=1781889964&width=1600">
        <div>
            <h3>Mercancía Oficial</h3>
            <p>
                Descubre peluches, ropa, accesorios y mucho más de tus personajes favoritos.
            </p>
            <a href="{{ url_for('tienda') }}" class="button">
                VISITAR TIENDA
            </a>
        </div>
    </div>
</section>

<section class="fanarts">
    <h2>FANARTS DESTACADOS</h2>
    <div class="cards">
        <div class="card">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS4-1HIAwtZFe1xzZ-f-9Bbzyv32aFhCI-vp3wZr8uHfg&s=10" alt="Fanart TADC">
        </div>
        <div class="card">
            <img src="https://i.pinimg.com/736x/de/aa/14/deaa143486f9b7b340956a379e8fa36b.jpg" alt="Fanart Murder Drones">
        </div>
        <div class="card">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQxesi14Fd7Zrbb2PtxNuO3rzTYbQgNGk4-nZW7y2zhWw&s=10" alt="Fanart Meta Runner">
        </div>
    </div>
    <br>
    <a href="{{ url_for('fanarts') }}" class="button">
        VER GALERÍA
    </a>
</section>

<section class="games">
    <h2>VIDEOJUEGOS</h2>
    <div class="cards">
        <div class="card">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS7NSvK0mrfP-KzuMtZPOwiFx-pwK1kNjOILyUmCboql1ffJhqB-9AoWwM&s=10">
            <h3>Glitch Karts</h3>
            <p>Glitch lanzó un juego corto de carreras de karts para un concurso, y los modelos de los personajes y sus karts se pusieron a disposición para descargar en Steam.</p>
            <a href="{{ url_for('juegos') }}">Más Información</a>
        </div>
        <div class="card">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSu2qy0s1SLm2tUtmsuXjMBpGhyWrq1s3o3i4c2P0uRhc5i-5CLsU3BQCI&s=10">
            <h3>Murder Drones: Dating</h3>
            <p>Juego hecho por fans para simular citas con los personas de Murder Drones y se puede descargar por itchi.io.</p>
            <a href="{{ url_for('juegos') }}">Más Información</a>
        </div>
    </div>
</section>

<section class="socials">
    <h2>SIGUE A GLITCH</h2>
    <div class="social-buttons">
        <a href="https://www.youtube.com/@GLITCH" target="_blank">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSBDidPq___zHPYjIll5HjPBAoYgtrnT9dZEzbyiIKuN-EZ6ky-VgShE-Y&s=10">
            YouTube
        </a>
        <a href="https://x.com/glitch_prod" target="_blank">
            <img src="https://img.magnific.com/vector-gratis/nuevo-diseno-icono-x-logotipo-twitter-2023_1017-45418.jpg?semt=ais_hybrid&w=740&q=80">
            X / Twitter
        </a>
        <a href="https://www.instagram.com/glitch_prod" target="_blank">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTY-0y1vWRxqeWnurh214AIqYiQ08C9GjjTV9OBOg_BDw&s=10">
            Instagram
        </a>
        <a href="https://www.tiktok.com/@glitch_productions" target="_blank">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRF4USHkcCOH2asTOGCPJV2Nn1FgckMdZZkgHQZmam9B3BOTEXQjbCXjK0&s=10">
            TikTok
        </a>
        <a href="https://discord.gg/glitchproductions" target="_blank">
            <img src="https://static.vecteezy.com/system/resources/thumbnails/055/331/330/small/rectangle-discord-icon-logo-symbol-free-png.png">
            Discord
        </a>
    </div>
</section>
{% endblock %}